@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;

.vid-list {
  margin: 1rem 0rem;
  padding:0 1rem;
  text-align: left;

  @include desktop {
    border-left:1px #afafaf solid;
    padding-left: 1.4rem;
   
  }

  &--title {
    font-weight:lighter;
    font-size: 0.8rem;
    color: #afafaf;
    text-align: left;
    display: inline;
  }
}
