@use "../../styles/partials/mixins" as *;


.btn {
  border: none;
    &:hover {
      background: #0065ad;
    }
    background: #0095ff;
    height: 2.5rem;
    
    width: 100%;
    
    display: flex;
    color:white;
    align-items: center;
    border-radius: .25rem;
    justify-content: center;
    cursor: pointer;
    img {
      padding-left: .625rem;
    }
    @include tablet {
      width: 9.375rem;
      font-size: 0.6rem;
      
    }
    &__text {
      flex-grow: 1;
      font-weight: 500;
    }
}