@use "../styles/partials/mixins" as *;
@use "../styles/partials/resets" as *;

.upload-page {
    width: 100vw;
    text-align: left;
    padding: 1rem;

    &__title {
        @include tablet{
            border-bottom: 1px solid #e1e1e1;
        }
        @include desktop{
            margin-left: 6rem;
            border-bottom: 1px solid #e1e1e1;
        }
    }

    .upload-cont {
        width: 100%;
        

        &__thumbnail {
            width: 100%;
            color: #e1e1e1;
            margin-top: 1rem;
            @include tablet{
                display: flex;
                flex-direction: column;
                width: 45%;
            }
            @include desktop{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 65%;
                margin-left: 6rem;
                color:#e1e1e1
                
            
            }

            img {
                width: 100%;
                border-radius: 5px;
                height: 100%;
               
                @include desktop{
                    
                    margin-bottom: 3rem;
                    max-width: 70%;
                    


                }
            }
        }

        &__info {
            width: 100%;
            
            @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
                margin-left:-9rem;
                margin-right: 2rem ;
               
               
                
            }

            .input-area {
                
                width: 100%;
                color: #e1e1e1;
                margin-top: 1rem;
                margin-bottom: 1rem;

                input,
                textarea {
                    border-radius: 5px;
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid #e1e1e1;
                    background-color: #fafafa;
                }
            }
        }

       

        @include desktop {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        padding: 2rem 0;
        
        @include tablet {
            flex-direction: row;
            margin: 0 1rem;
            border-top: 1px solid #e1e1e1;
        }
       

        &-cancel {
            border: none;
            background-color: transparent;
            margin: 1rem;
            color: #0095ff;
            cursor: pointer;
            @include tablet{
                margin-right: 4rem;
            }

            @include desktop {
                
                flex-direction: row;
            }
        }

      
      
    }
}
 .success-cont{
    color:#0095ff;
    text-align: center;
    font-size: x-large;


 }